
.container-fluid{
    padding: 0;
    margin: 0;
    /* background-image: url("info.png"); */
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    background-image: url("../../../asset/images/card1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    border-radius: .3rem;
}
.info p{
    line-height: 1;
    font-weight: 400;
    /* color: gold; */
}
.info span{
    font-weight: 700;
}

.infostaked{
    display: flex;
    color: white;
    font-size: 15pt;
}
.infostakedvalue{
    display: flex;
    color: gold;
    font-size: 20pt;
    font-weight: 600;
}
.badge{
    background-color: gold;
    color: black;
    margin: 5px;
}
.stakeinput{
    display: flex;
    justify-content: center;
    
    color: #fff;
    background-color: rgb(12, 10, 10);
    border-color: #444;
    padding: .5rem ;
    border-radius: .3rem;
}
@media (max-width: 1092px) {
}

@media (max-width: 600px) {
}