.sponsors{
    color: white;
    /* background-color: rgb(148, 147, 147); */
    padding: 0;
    margin: 0;
}
.sponsor-image{
    width: 70vw;
    height: auto;
    padding: 5px;
    margin: 20px 0px 60px;
}
@media (max-width: 600px ){
    .sponsor-image{
        width: 50vw;
        height: auto;
        padding: 5px;
        margin: 20px 0px 60px;
    }
} 